<section class="min-h-screen flex items-center justify-center py-16" style="background-color: #fff8e1;">
    <div class="container mx-auto px-4">
        
        <div class="bg-white p-6 md:p-12 rounded-3xl shadow-2xl mb-16">

            <div class="text-center mb-16">
                <h2 class="text-4xl font-bold text-[#413636] mb-4">Colaboradores</h2>
                <p class="text-xl text-gray-700 max-w-3xl mx-auto leading-relaxed">
                    Somos un equipo visionario la cual buscamos desarrollar una plataforma digital que principalmente en base a nuestro compromiso en la creacion de espacio intuitivo y dinamico que permita a nuestros usuarios descubrir los mejores platos asi construimos el enlace tecnologico que conecte la gastronomia con una comunidad que le interese compartir y saber mas sobre los distintos platos gastronomicos.
                </p>
            </div>

            <div class="flex flex-col items-center gap-10">
                
                <div 
                    class="flex flex-col items-center bg-gray-50 rounded-2xl shadow-lg p-6 w-full sm:w-3/4 md:w-3/5 lg:w-1/2 transition-all duration-300 hover:scale-[1.02] hover:shadow-xl"
                    >
                    <img
                        src="jesus.jpg" alt="Jesus Eduardo Cortez Ramos"
                        class="w-full h-[32rem] object-cover rounded-xl mb-5 shadow-lg"
                    />
                    <h3 class="text-2xl font-semibold text-[#413636] mt-2 text-center tracking-wide">Jesus Eduardo Cortez Ramos</h3>
                    <p class="text-gray-600 text-lg font-medium text-center tracking-wide">Ingeniería de Sistemas</p>
                </div>
                
                <div 
                    class="flex flex-col items-center bg-gray-50 rounded-2xl shadow-lg p-6 w-full sm:w-3/4 md:w-3/5 lg:w-1/2 transition-all duration-300 hover:scale-[1.02] hover:shadow-xl"
                >
                    <img
                        src="danielito.png" alt="Daniel Malpartida Huamani"
                        class="w-full h-[32rem] object-cover rounded-xl mb-5 shadow-lg"
                    />
                    <h3 class="text-2xl font-semibold text-[#413636] mt-2 text-center tracking-wide">Daniel Malpartida Huamani</h3>
                    <p class="text-gray-600 text-lg font-medium text-center tracking-wide">Ingenieria de software</p>
                </div>
                
                <div 
                    class="flex flex-col items-center bg-gray-50 rounded-2xl shadow-lg p-6 w-full sm:w-3/4 md:w-3/5 lg:w-1/2 transition-all duration-300 hover:scale-[1.02] hover:shadow-xl"
                >
                    <img
                        src="flavio2.png" alt="Flavio Cesar Audante Guerrero"
                        class="w-full h-[32rem] object-cover rounded-xl mb-5 shadow-lg"
                    />
                    <h3 class="text-2xl font-semibold text-[#413636] mt-2 text-center tracking-wide">Flavio Cesar Audante Guerrero</h3>
                    <p class="text-gray-600 text-lg font-medium text-center tracking-wide">Ingenieria de sistemas</p>
                </div>
                
            </div>
            </div>
        <hr class="my-16 border-gray-300">

        <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
            
            <div class="bg-white p-8 rounded-2xl shadow-xl border-t-4 border-[#E56767] transition-transform duration-300 hover:translate-y-[-5px]">
                <h2 class="text-3xl font-bold text-[#E56767] mb-4">Misión</h2>
                <p class="text-gray-700 leading-relaxed">
                    Nuestra mision con esta sitio es que las personas puedan descubir, compartir y disfrutar de la rica y diversas gastronomias en las cuales podran interactuar en torno a los platos, que se publiquen en la plataforma, asiendo la interaccion mas dinamica y entretenida.
                </p>
            </div>

            <div class="bg-white p-8 rounded-2xl shadow-xl border-t-4 border-[#473B3B] transition-transform duration-300 hover:translate-y-[-5px]">
                <h2 class="text-3xl font-bold text-[#473B3B] mb-4">Visión</h2>
                <p class="text-gray-700 leading-relaxed">
                    Nuestra vision es ser la plataforma de referencia a nivel mundial en las cuales los usuarios puedan sentirse libres de compartir sus experiencias gastronomicas, o descubir nuevas tendencias en los platos que se muestren en la plataforma asi fomantando una comunidad global unida por la pasion gastronomica.
                </p>
            </div>

        </div>

    </div>
</section>